fastapi==0.110.0
uvicorn[standard]==0.27.1
python-dotenv==1.0.1
pydantic==2.6.4
# Lightweight requirements for Vercel
groq
langchain-core
langchain-text-splitters
langchain-pinecone
requests
pinecone-client
python-multipart
pypdf

